<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑몰</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <div class="container">
        <h1 class="logo">로고</h1>
        <div class="search">
            <input type="text" placeholder="상품을 검색하세요">
            <button>검색</button>
        </div>
        <div class="user">
            <a href="#">로그인</a>
            <a href="#">장바구니</a>
        </div>
    </div>

</header>

<nav>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="7782121920591463876.jpg" class="d-block w-100" alt="광고1">
            </div>
            <div class="carousel-item">
                <img src="5523843261885832784.jpg" class="d-block w-100" alt="광고2">
            </div>
            <div class="carousel-item">
                <img src="2518200698471276057.jpg" class="d-block w-100" alt="광고3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container">
        <ul>
            <li><a href="#">브랜드1</a></li>
            <li><a href="#">브랜드2</a></li>
            <li><a href="#">브랜드3</a></li>
            <li><a href="#">브랜드4</a></li>
        </ul>
    </div>
</nav>

<main class="main-container">
    <div class="container">
        <section class="products">

            <div class="product-list">

            </div>
        </section>
    </div>
    <aside class="sidebar">
        <div class="container">
            <h2>사이드바</h2>
            <ul>
                <li>사이드바 메뉴 1</li>
                <li>사이드바 메뉴 2</li>
                <li>사이드바 메뉴 3</li>
            </ul>
        </div>
    </aside>
</main>

<footer>
    <div class="container">
        <p>상세 약관</p>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>